#
#
#
# .aliases
#
# Sections: 
#   1. Globals
#   2. Navigation
# 
#   3. Development
#
#
#


# GLOBALS

    # Pretty-print $PATH
    alias path='echo $PATH | tr ":" "\n" | sort'


# NAVIGATION

	# MOVEMENTS

		# Move Back 1 Directory Level
		alias ..='cd ..'

		# Move Back 2 Directory Levels
		alias ...='cd ../..'

		# Move Back 3 Directory Levels
		alias ....='cd ../../..'


	# SHORTCUTS

	# Home
	alias ~='cd ~/'

	# DEVELOPMENT
	
		alias dev='cd ~/Development/'

		# LOVE 146

			alias love146='cd ~/Development/love146/'

		# PERSONAL
	
			alias personal='cd ~/Development/personal'

			# A100
			alias a100='cd ~/Development/personal/A100/'

			# Learn C The Hard Way
			alias learnc='cd ~/Development/personal/LearnCTheHardWay'

			# WOD Engine
			alias wod='cd ~/Development/personal/WodEngine/'
		
		# SCHOOL

			# CSC 399A (Sys Pro)

				alias csc='cd ~/Development/school/csc399a/'

				# Frequency Counter
				alias freq='cd ~/Development/school/csc399a/Program_02/FrequencyCounter/'

# DEVELOPMENT

	# Python

		# Virtual Environment

			# Create new Virtual Environment
			alias venv='virtualenv venv'

			# Activate Virtual Environment
			alias activate='source venv/bin/activate'

			# Freeze Requirements
			alias freeze='pip freeze > requirements.txt'
