
# .aliases

# Sections:
#   1. Globals
#   2. Navigation
#   3. Development
#


# 1. GLOBALS

  # Pretty-print $PATH
  alias path='echo $PATH | tr ":" "\n" | sort'

  # prm - A minimal project manager for the terminal.
  # https://github.com/eivind88/prm
  # https://www.digitalocean.com/community/tutorials/how-to-read-and-set-environmental-and-shell-variables-on-a-linux-vps
  alias prm='. ~/Development/prm.sh'

# NAVIGATION

  #	MOVEMENTS

    # Move Back 1 Directory Level
    alias ..='cd ..'

    # Move Back 2 Directory Levels
    alias ...='cd ../..'

    # Move Back 3 Directory Levels
    alias ....='cd ../../..'


  # SHORTCUTS

    # Home
    alias ~='cd ~/'

    # Desktop
    alias desktop='cd ~/Desktop'

# DEVELOPMENT

  alias dev='cd ~/Development/'

  # Independent-Software

    alias indie='cd ~/Development/work/indie-soft/'
    alias a100='cd ~/Development/work/indie-soft/a100/'
    alias xav='cd ~/Development/work/indie-soft/project-xavier/'

  # PERSONAL

    alias personal='cd ~/Development/personal/'
    alias projects='cd ~/Development/personal/projects/'
    alias edu='cd ~/Development/personal/education/'
    alias blog='cd ~/Development/personal/blog/'

    # Resume
    alias resume='cd ~/Development/personal/Chris-James.github.io/'

    # Learn C The Hard Way
    # alias learnc='cd ~/Development/personal/LearnCTheHardWay'

    # WOD Engine
    # alias wod='cd ~/Development/personal/WodEngine/'

    # Meteor
    # alias meteordev='cd ~/Development/personal/meteor/'

    # SCHOOL

    # CSC 399A (Sys Pro)
    alias cpro='cd ~/Development/personal/education/cProgramming/'
    alias csc='cd ~/Development/school/education/csc399a/'

# DEVELOPMENT

  # Git

    # Push to GitHub
    alias gpom='git push -u origin master'

  # Python

    # Start Simple HTTP Server
    alias serv='python -m SimpleHTTPServer 8000'

    # Virtual Environment

      # Create new Virtual Environment in current directory
      alias venv='virtualenv venv'

      # Activate Virtual Environment in current directory
      alias activate='source venv/bin/activate'

      # Freeze Requirements
      alias freeze='pip freeze > requirements.txt'
