# Moves file to the MacOS trash.
function trash() {
  command mv "$@" ~/.Trash;
}

# Create new directory and `cd` into it
function mkcd() {
  mkdir -p "$@" && cd "$_";
}

# Quickly play audio from `/snippets`
function play() {
  local audio=$(find /Users/Chris/Music/snippets -name "$1*");
  mpg123 -q "$audio" &> /dev/null;
}

# Open Wallpaper Directory
function wallpapers() {
  open "/Library/Desktop\ Pictures"
}

# Bare-bones Pomodoro timer using motherboard audio
# see: https://github.com/liviu-/ding
function pomo() {
  ding in 25m --no-timer;ding in 5m --no-timer
}
